* {
    box-sizing: border-box;
    /* border: solid black 1px; */
}
:root{
    /* COLORES */
    --c50: #ffebee;
    --c100:#FFCDD2;
    --c200:#EF9A9A;
    --c300:#E57373;
    --c600:#D81B60;
    --c700:#C2185B;
    --c800:#AD1457;
    --c900:#880E4F;
    /* DEGRADADO_1 */
    --d1s:#FFA49C;
    --d1i:#FF779D;
}

body {
    font-family: Arial;
    padding: 10px;
    /* background: #f1f1f1; */
    background: black;
}

/* Header/Blog Title */
.header {
    text-align: center;
    color: white;
    border-radius: 80px;
    padding: 8px;
    box-shadow: 0px 0px 10px 0px greenyellow;
}

/* Style the topnav links */
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
    background-color:var(--c700);
    color: var(--c50);
    border-radius: 25px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 50%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 50%;
    padding-left: 20px;
}


/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.contact-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.contact-card li{
    text-decoration: none;
    pad: 5px;
}
.data{
    color: whitesmoke;
    display: flex;
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    background: rgb(17, 17, 17);
    box-shadow: 0px 0px 20px 0px rgba(137, 43, 226, 0.288);
}
/* Contiene a la imagen */
.data__card--l{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    width: 45%;
}
/* Contiene texto */
.data__card--r{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
    width: 55%;
}
.data__card--l img{
    width: 50%;
    border-radius: 100%;
    box-shadow: 0px 0px 50px 0px blueviolet;
 }

#gender{
    width: 32px;
}

.social-icon{
    margin: 1rem;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .data{
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .data__card--l,.data__card--r{
        justify-content: center;
        width: 100%;
        padding-left: 0px;;
        margin: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}